.footer {
    background-color: #343a40;
    color: #939191;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px 0;
    position: relative;
    height: 220px;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

.footer p {
    margin: 0;
}
